.App {
  min-height: 100vh;
  background: #F3F4F6;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #10B981;
}

body {
  background: #F3F4F6 !important;
}
